<div class="row" style="margin: 0;width: 100%;">


  <div class="row col-md-7">
    <div class="col-md-8">

      <div style="margin-bottom: 10px;">
        <label>Full Name * </label>
        <input type="text" placeholder="Enter full name">
      </div>

      <div style="margin-bottom: 10px;">
        <label>Address</label>
        <input type="text" placeholder="Enter address line 1" style="margin-bottom: 4px;">
        <input type="text" placeholder="Enter Street">

        <label>City * </label>
        <select>
          <option>Select a city</option>
          <option>Kalutara</option>
        </select>
      </div>

      <div style="margin-bottom: 10px;">
        <label>Contact Number * </label>
        <input type="text" placeholder="Enter telephone number (Ex: 07X-XXX XXXX)">
      </div>

      <div style="margin-bottom: 10px;">
        <label>NIC * </label>
        <input type="text" placeholder="Enter NIC (Ex: 920000000V)">
      </div>

      <div style="margin-bottom: 10px;">
        <label>Academic Level * </label>
        <select>
          <option>GCE A/L</option>
          <option>GCE O/L</option>
          <option>Other</option>
        </select>
      </div>

      <div>

      </div>

      <div style="margin-bottom: 10px;">
        <label>Email Address</label>
        <input type="text" placeholder="Enter email address">
      </div>
    </div>

    <div class="col-md-4">
      <div style="position: relative;">
        <label>Profile image</label>
        <!-- Preview Image-->
        <div style="width: 200px;height: 200px;border: 2px dashed #bbbbbb;margin-bottom: 5px;position: relative;">
          <div style="position: relative;top: 50%;transform: translateY(-50%);text-align: center;font-size: 45px;">
            <i class="fa fa-sign-out" style="transform: rotate(-90deg);color: #6b6b6b;"></i>
            <p style="font-size: 16px;font-weight: 600;color: #7e7e7e;">Upload Image</p>
          </div>
          <input type="file" style="opacity: 0;position: absolute;top: 0;bottom: 0;left: 0;right: 0;">
        </div>
      </div>
    </div>
  </div>

  <!-- Generated ID -->
  <div class="col-md-5">
    <div style="margin-bottom: 10px;">
      <label>ID Preview</label>
      <div style="width: 80vh;height: 250px;border: 2px dashed #7e7e7e;padding: 10px;">
        <label>Name: S.H.Shanaka Madushanka</label>
      </div>
    </div>
    <div>
      <div>
        <button class="btn_err">Reset</button>
        <button class="btn_success">Save</button>
      </div>
    </div>
  </div>

</div>
