//@import "../../../../../assets/common-styles/main"


.dropdown-menu
  font-size: 13px
  font-weight: 600

.dropdown-menu-item
  padding: 0 10px

.badge-mark
  padding: 0
  border: 2px solid
  width: .5rem
  height: .5rem
  border-radius: 100px


.badge:empty
  display: block

.badge-suc
  border-color: #21a64b

.badge-err
  border-color: #f04c4e

.div-ic
  float: right
  cursor: pointer

.set-pop-men
  margin: 0
  list-style: none
  padding: 0 0 0 15px
  li
    cursor: pointer
    padding: 3px
    font-weight: 400
    font-size: 11px

.lbl-drop-txt
  float: right
  cursor: pointer

.lbl-drop-txt:hover
  color: #0a485b



//------------------------- Chat Area -------------
.chat-msg
  border-radius: 2px
  margin-bottom: 10px
  padding: 8px
  width: 80%
  min-height: 60px

.c-m-l
  float: left
  background: #dbb7e4a3
  border: 1px solid #dbb7e4fa

.c-m-r
  float: right
  background: rgba(238, 246, 235, 0.64)
  border: 1px solid #dbb7e4fa

.c-m-l , .c-m-r
  p
    font-size: 13px
    padding: 0
    margin: 0
    color: #565656

.msg-time
  font-size: 11px !important
  text-align: right
  color: #0fa59e !important
  margin-bottom: 2px !important
  display: inline-block

  padding-top: 5px !important
