<div class="content-parent">
  <div style="border-bottom: 1px solid #d4d4d4;">
    <p class="sub-title"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>&nbsp; Dashboard</p>
  </div>

  <div class="row" style="margin: 0;padding: 5px;background: #ececec;">

    <div class="col-xl-7">
      <div class="card" style="width: 100%;">
        <div>
          <div>
            <div class="dropleft" style="padding: 15px 20px 0 15px;">
              <h5 style="display: inline;">Special title treatment</h5>
              <span data-toggle="dropdown" id="a" class="div-ic">
                  <i class="fa fa-gear" ></i>
                </span>

              <div class="dropdown-menu dropleft" aria-labelledby="a">
                <ul class="set-pop-men">
                  <li><i class="fa fa-home"></i> &nbsp; Home</li>
                  <li><i class="fa fa-gears"></i> &nbsp; Settings</li>
                  <li><i class="fa fa-edit"></i> &nbsp; Edit</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">

          <p class="panel-text">
            It is a long established fact that a reader will be distracted by the readable content
            of a page when looking at its layout. The point of using Lorem Ipsum is that
            it has a more-or-less normal distribution of letters, as opposed to using
            'Content here, content here', making it look like readable English. Many
            desktop publishing packages and web page editors now use Lorem Ipsum as their
            default model text, and a search for 'lorem ipsum' will uncover many
            web sites still in their infancy.
            Various versions have evolved over the years, sometimes by accident,
            sometimes on purpose (injected humour and the like).
          </p>

          <div>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-blue">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5">
      <div class="card" style="width: 100%;">
        <div>
          <div>
            <div class="" style="padding: 10px 20px 5px 15px;border-bottom: 1px solid #e8e8e8;">
              <h5 style="display: inline;    font-size: 15px;">Messages</h5>
              <span data-toggle="dropdown" class="lbl-drop-txt">
                  <span style="font-size: 11px;">15/05/2018 - 25/04/2019</span> &nbsp; <i class="fa fa-angle-down" aria-hidden="true"></i>
              </span>

              <div class="dropdown-menu dropleft">
                <ul class="set-pop-men">
                  <li><i class="fa fa-home"></i> &nbsp; Home</li>
                  <li><i class="fa fa-gears"></i> &nbsp; Settings</li>
                  <li><i class="fa fa-edit"></i> &nbsp; Edit</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="card-header">-->
        <!--<ui-switch></ui-switch>-->
        <!--</div>-->
        <div class="card-body">

          <div>
            <div class="chat-msg c-m-l">
              <div class="clearfix">
                <img src="../../../../../assets/images/user-profile.png" style="width: 25px;height: 25px;">
                <p class="msg-time" style="float: right">12/05/2019 8:55:25 AM</p>
              </div>
              <div>
                <p>
                  Contrary to popular belief, Lorem Ipsum is not simply random text.
                  It has roots in a piece of classical Latin literature from 45 BC,
                  making it over 2000 years old.
                </p>
              </div>
            </div>

            <div class="chat-msg c-m-r">
              <div class="clearfix">
                <div>
                  <p class="msg-time " style="float: left">12/05/2019 8:55:25 AM</p>
                  <img src="../../../../../assets/images/user-profile.png" style="width: 25px;height: 25px;float: right">
                </div>
              </div>
              <div>
                <p>
                  Contrary to popular belief, Lorem Ipsum is not simply random text.
                  It has roots in a piece of classical Latin literature from 45 BC,
                  making it over 2000 years old.
                </p>
              </div>
            </div>

            <div class="chat-msg c-m-l">
              <div class="clearfix">
                <img src="../../../../../assets/images/user-profile.png" style="width: 25px;height: 25px;">
                <p class="msg-time" style="float: right">12/05/2019 8:55:25 AM</p>
              </div>
              <div>
                <p>
                  Contrary to popular belief ?
                </p>
              </div>
            </div>

            <div class="chat-msg c-m-r">
              <div class="clearfix">
                <div>
                  <p class="msg-time " style="float: left">12/05/2019 8:55:25 AM</p>
                  <img src="../../../../../assets/images/user-profile.png" style="width: 25px;height: 25px;float: right">
                </div>
              </div>
              <div>
                <p>
                  yes <a href="#" data-popup="tooltip" title="" data-toggle="modal" data-trigger="hover" data-target="#call" data-original-title="Call">df</a>
                </p>
              </div>
            </div>
          </div>
          <div style="position: relative">

            <div class="input-group">
              <div class="input-group-prepend ">
                <span class="input-group-text l-a-b-r"><i class="fa fa-paperclip"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Type your text...." style="    font-size: 13px;">
              <div class="input-group-append ">
                <span class="input-group-text r-a-b-r"><i class="fa fa-send-o"></i></span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
