<div class="content-parent">
  <div style="border-bottom: 1px solid #d4d4d4;">
    <p class="sub-title"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>&nbsp; Dashboard</p>
  </div>

  <div class="row" style="margin: 0;padding: 5px;background: #ececec;">

    <div class="col-xl-7">
      <div class="card" style="width: 100%;">
        <div>
          <div>
            <div class="dropleft" style="padding: 15px 20px 0 15px;">
              <h5 style="display: inline;">Special title treatment</h5>
              <span data-toggle="dropdown" id="a" class="div-ic">
                  <i class="fa fa-gear" ></i>
                </span>

              <div class="dropdown-menu dropleft" aria-labelledby="a">
                <ul class="set-pop-men">
                  <li><i class="fa fa-home"></i> &nbsp; Home</li>
                  <li><i class="fa fa-gears"></i> &nbsp; Settings</li>
                  <li><i class="fa fa-edit"></i> &nbsp; Edit</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">

          <p class="panel-text">
            It is a long established fact that a reader will be distracted by the readable content
            of a page when looking at its layout. The point of using Lorem Ipsum is that
            it has a more-or-less normal distribution of letters, as opposed to using
            'Content here, content here', making it look like readable English. Many
            desktop publishing packages and web page editors now use Lorem Ipsum as their
            default model text, and a search for 'lorem ipsum' will uncover many
            web sites still in their infancy.
            Various versions have evolved over the years, sometimes by accident,
            sometimes on purpose (injected humour and the like).
          </p>

          <div>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-blue">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5">

    </div>

  </div>
</div>
