<div>
  <div class="menu-container row" style="margin: 0;">
    <ul>
      <li class="menu-itm-bg br-right " routerLink=""><i class="fa fa-laptop"></i><br><label>Admin</label></li>
      <li class="menu-itm-bg br-right" routerLink="/student/list"><i class="fa fa-comments-o"></i><br><label>Students</label></li>
      <li class="menu-itm-bg br-right" routerLink="/teacher/list"><i class="fa fa-television"></i><br><label>Teachers</label></li>
      <li class="menu-itm-bg br-right" routerLink="/attendance/list"><i class="fa fa-bar-chart-o"></i><br><label>Attendance</label></li>
      <li class="menu-itm-bg br-right" routerLink="/event-calendar"><i class="fa fa-calendar"></i><br><label>Examinations</label></li>
      <li class="menu-itm-bg br-right" routerLink="/rooms"><i class="fa fa-money"></i><br><label>Payments</label></li>
      <li class="menu-itm-bg br-right" routerLink=""><i class="fa fa-clock-o"></i><br><label>Time Table</label></li>
      <li class="menu-itm-bg" routerLink=""><i class="fa fa-area-chart"></i><br><label>Reports</label></li>
    </ul>

    <div class="date-time">
      09-04-2019 08:25:22 PM
    </div>
  </div>
</div>
